.add-card-wrapp {
  display: flex;
  justify-content: center;
}

.add-card-button-wrapp {
  padding: 5px;
}

.add-card-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 3px;
  transition: all .1s;
}
.add-card-button-wrapp:hover .add-card-button {
  transform: scale(1.1);
}

.add-card-button img {
  width: 18px;
  height: 18px;
}